.articleDetails {
  margin: 0;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 25px;
}

.skeleton {
  margin-top: 15px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.articleInfo {
  display: flex;
  gap: 10px;
}

.block {
  margin: 20px;
}
