.button {
  cursor: pointer;
  color: var(--inverted-secondary-color)
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.border {
  padding: 5px;
  border: 1px solid #000;
  background: none;
  outline: none;
}
