.articleDetailsPage {
  margin: 0;
}

.commentTitle {
  margin-bottom: 20px;
}

.commentForm {
  margin-bottom: 20px;
}

.recommendations {
  margin: 20px 0;
  flex-wrap: nowrap;
  justify-content: center;
}
