.inputWrapper {
  display: flex;
}

.placeholder {
  display: flex;
  margin-right: 5px;

  span {
    margin-top: 1px;
  }
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  height: 3px;
  width: 7px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  animation: blink 0.7s forwards infinite;
}

.readonly {
  opacity: .7;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
