.app_light_theme {
  --bg-color: #F4F4FB;
  --inverted-bg-color: #04007f;
  --primary-color: #0a00ff;
  --secondary-color: #0076D6;
  --inverted-primary-color: #01df13;
  --inverted-secondary-color: #5CB701;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #dadada;

  // card
  --card-bg: #e1e1fc;

  // listBox
  --listbox-bg: #e1e1fc;
}
