.app_pink_theme {
  --bg-color: #FAF4FB;
  --inverted-bg-color: #c400d6;
  --primary-color: #df0198;
  --secondary-color: #8601B7;
  --inverted-primary-color: #5900d6;
  --inverted-secondary-color: #001DAD;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #dadada;
}
