.starRating {
  display: flex;
  gap: 8px;
}

.starIcon {
  stroke: var(--primary-color);
  cursor: pointer;
  stroke-width: 2px;
}

.normal {
  fill: none;
}

.hovered {
  fill: var(--primary-color);
}

.selected {
  cursor: auto;
}